:root {
  --background: #000;
  --container_width: 1620px;
  --container_gap: 15px;
  --ultimate_padding: calc(((100vw - var(--container_width)) / 2) + var(--container_gap));
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Inter, sans-serif;
  font-weight: 24;
  color: #979799;
  text-decoration: none;
  list-style: none;

  background: none;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: var(--container_width);
  margin: 0 auto;
  padding-right: var(--container_gap);
  padding-left: var(--container_gap);
}
