.section{
  background: #141414;

}

.left_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 60%;
  min-width: 60%;
}

.right_block{
  width: 40%;
  min-width: 40%;
  padding-top: 395px;
  padding-right: var(--ultimate_padding);

 background-repeat: no-repeat;
  border: #262626 1px solid;


}


.left_block_up{
  padding-right: 50px;
  padding-left: var(--ultimate_padding);
}

.left_block_down{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 10px;
  padding-right: 150px;
  //padding-top: 10px;
  padding-left: var(--ultimate_padding);

  border-top: #262626 1px solid;
  border-bottom: #262626 1px solid;

}


.case_stats{
display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-bottom: 50px;


  text-align: left;

  &:not(:first-child) {
    padding-left: 50px ;
    border-left: #262626 1px solid;
  }
  
}

.first_stats{
  display: flex;
  align-items: center;

  padding-top: 50px ;

  font-family: Inter, sans-serif ;
  font-size: 40px;
  font-weight: 500;
  color: #fdfdfd;
}

.plus{
  padding-left: 2px;
  font-weight: 400;
  color: orange;}

.second_stats {
  padding-top: 10px;
  font-size: 18px;
}


  .section_wrapper{
  display: flex;
}

.text_titel_secondary{
  display: flex;
  justify-content: left;

  padding-top: 150px;
  padding-bottom: 30px;

  font-size: 30px;
}

.text_titel{
padding-bottom: 20px;
  font-size: 70px;
  color: white;
}

  .text_titel_low{
  //padding-bottom: 100px;
font-size: 18px;
}

.sphere{
  opacity: 0.4;
}

.right_box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-bottom: 80px;
  padding-left: 80px;
}

.person_box{
  display: flex;
  flex-direction: row;
  padding-bottom: 30px ;
  //padding-left: 80px;


}

.box_border{
  padding: 5px;
  background: #191919;
  border: #262626 2px solid;
  border-radius: 50px;
}

.person_photo{
  width: 60px;
  height: 60px;
  //margin-left: px;

  background: #191919;
  border: #979799 2px solid;
  border-radius: 50px;

  &:not(:first-child){
    margin-left: -18px;
  }// Позволяет отменить или пременить
  // класс точечно, к одному из элементов
}

.text_box{
  padding-bottom: 30px;
  //padding-left: 80px;
}

.right_titel_text{
  padding-bottom: 14px ;
  font-size: 24px;
  color: white;
}

.right_second_text{
font-size: 18px;
  color: #8f8f90;
}

.button_link{
  display: flex;
  gap: 10px; //отступ между эллементами
  justify-content: center;

  //max-width: 231px;
  //max-height: 63px;
  padding: 18px 24px;

  font-size: 18px;

  background: #141414;
  border: #262626 1px solid;
  border-radius: 12px;

  &:hover {
    color: #fff;
    background: #191919;
    border: #3c3c3c 1px solid;
  }
}

.link_logo{
  width: 24px;
  height: 24px;
}

.last_block{
  padding-right: var(--ultimate_padding);
  padding-left: var(--ultimate_padding);
}

.last_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.box{
  width: 100%;
  //display: block;
padding: 50px 80px;

  &:not(:last-child){
    border-right: #4e4e4e 1px solid;
  }

  &:last-child{
    padding-right: 0;
  }

  &:first-child{
    padding-left: 0;
  }
}

.last_icon{
padding-bottom: 30px;

}

.link{
 width: 52px;
  height: 52px;


}


.last_link_text{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text_last_block{

}

h4{
  padding-top: 10px;
  padding-bottom: 30px;
font-size: 18px;
}

h3{
  font-size: 20px;
  color: white;
}

h5{
  font-size: 20px;

}