.section{
  background: #141414;
}

.global{
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  //margin-right: 80px ;
}

.left_block{
  width: 57%;
  min-width: 57%;
  padding: 80px 80px 80px 8.4375%;

  img{
  }

  h2{
    padding-bottom: 16px;
    font-size: 40px;
  }

  p{
    font-size: 18px;
  }
}

.right_block{
  display: flex;
  //flex-flow: wrap;
  flex-wrap: wrap;
  gap: 15px;
  place-content: flex-start space-between;
  align-items: center ;

  width: 43%;
  min-width: 43%;
  padding: 80px 8.4375% 80px 80px;

// 1920 - 100% 162 - x% = 8.4375
;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.block{
  width: calc(50% - 15px);
  padding: 20px;

  background: #191919;
  border: #262626 1px solid;
  border-radius: 10px;

  h3{
    color: white;
  }
}

.cap{
  display: block;

}

